<form [formGroup]="form" (submit)="login()">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-error *ngIf="error">Username or Password is incorrect</mat-error>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input type="text" matInput formControlName="username">
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</form>
